<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce" thread-count="5" parallel="false">

	<listeners>
		<listener class-name="com.nopcommerce.utilities.Reporting" />
	</listeners>

	<packages>
		<package name="com.nopcommerce.testCases"></package>
	</packages>


	<test name="nopCommerce Test1" thread-count="5">
		<parameter name="browser" value="chrome" />
		<!-- <groups> <run> <include name="regression" /> <include name="sanity" 
			/> </run> </groups> -->
		<classes>
			<class name="com.nopcommerce.testCases.TC_LoginTest_001" />
			<class name="com.nopcommerce.testCases.TC_AddCustomerTest_003" />
		</classes>
	</test>



	<!-- <test name="nopCommerce Test2" thread-count="5"> <parameter name="browser" 
		value="ie" /> <classes> <class name="com.nopcommerce.testCases.TC_LoginTest_001" 
		/> </classes> </test> <test name="nopCommerce Test3" thread-count="5"> <parameter 
		name="browser" value="firefox" /> <classes> <class name="com.nopcommerce.testCases.TC_LoginTest_001" 
		/> </classes> </test> -->


</suite>